.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 100%;
    font-size: 12px;
    margin-top: 2rem;

    p {
        margin: 0 1.5rem;
    }

    button {
        display: flex;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        border: none;
        height: 2rem;
        width: 50px;
        font-size: 12px;

        &:disabled {
            background-color:initial;
        }
    }
}