@import "../../variables.module.scss";

.viewOption {
    display: flex;
    align-items: center;
    font-size: 12px;

    .buttons {
        display: flex;
        margin-left: 0.5rem;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            height: 2rem;
            width: 50px;
            font-size: 12px;
        }

        button.active {
            background-color: white;
            border-bottom: 1px solid $primaryColor;
        }

        img {
            width: 20px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .viewOption {
        .buttons {
            display: flex;
            margin-left: unset;
        }
    }
}