@import "../../variables.module.scss";

.home {
    background-color: $bgGrey;
    min-height: 100vh;
    padding-bottom: 6rem;

    .navigation {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        padding: 0.5rem 1rem;

        .logo {
            display: flex;
            align-items: center;
            flex: 0 1 240px;
            gap: 0.125rem;
            font-size: 14px;
            font-weight: 700;
            margin-left: 0.125rem;
            padding: 0.125rem 0.25rem 0.125rem 0;
            height: 32px;
            color: $primaryColor;
            z-index: 100;

            span {
                font-weight: initial;
            }
        }

        .options {
            display: flex;
            gap: 1rem;
            z-index: 101;
        }
        .navigationBackground {
            background-color: rgb(229 229 229 / 90%);
            backdrop-filter: blur(4px);
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 0;
        }
    }

    .hello {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8rem;
        
        h1 {
            margin: 0;
        }
        h3 {
            margin: 0.5rem;
        }
    }

    .grid {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        max-width: 1000px;
        margin: 0 auto 2rem;
    }

    .list {
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
        gap: 0.5rem;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 4rem;
    }


    .booksWrapper {
        min-height: 100vh;
        padding: 50px 1rem;
        display: flex;
        flex-direction: column;

        h3 {
            padding: 0 1rem;
            max-width: 1000px;
            text-align: left;
            margin: 2rem auto 2rem auto;

            &.noResults {
                text-align: center;
                margin-top: 8rem;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .home {
        background-color: $bgGrey;
        min-height: 100vh;
        padding-bottom: 6rem;

        .navigation {
            height: auto;
            display: flex;
            justify-content: center;
            gap: unset;

            .logo {
                flex: 1 1 100%;
                margin-bottom: 0.5rem;
            }

            .options {
                justify-content: space-between;
                flex: 1 0 100%;
            }
        }

        .grid {
            padding: 1rem;
        }
        .list {
            padding: 1rem;
        }

        .booksWrapper {
            padding: 140px 0;


            h3, h4 {
                padding: 0;
                text-align: center;
                margin: 1rem auto 0.5rem auto;
                max-width: 23ch;
            }
        }
    }
}