.itemsPerPage {
    display: flex;
    flex: 0 1 240px;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;

    select {
        padding: 0px 4px;
        height: 2rem;
        border: none;
    }
}