@import "../../variables.module.scss";

.bookGrid {
    display: flex;
    padding: 1rem;
    flex: 0 1 calc(calc(100% / 5) - calc(4rem / 5));
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 0.5rem;
    box-sizing: border-box;
    word-break: break-word;
    text-align: left;

    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 0.5rem 0;
    }

    p {
        font-size: 12px;
        font-style: italic;

        span {
            display: block;
        }
    }

    button {
        border: none;
        background-color: $lightGrey;
        color: #29313D;
        font-size: 12px;
        height: 24px;
        font-weight: 600;
        padding: 0 0.5rem;
    }


    .closed {
        p {
            -webkit-line-clamp: 3;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
        }
    }

    .image {
        min-height: 80px;

        img {
            max-width: 37px;
        }
    }
}

.bookList {
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    padding: 1rem;
    flex: 1 1 calc(calc(50%) - calc(0.5rem / 2));
    background-color: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 0.5rem;
    box-sizing: border-box;
    word-break: break-word;
    justify-content: flex-start;
    gap: 2rem;
    text-align: left;

    span {
        font-size: 12px;
        margin-bottom: 0.125rem;
        font-style: italic;
        position: relative;
    }
    p {
        font-size: 14px;
        margin: 0 0 0.5rem;
        font-weight: 600;
    }

    .image {
        position: relative;
        img {
            max-width: 160px;
        }
        .enlarge {
            position: absolute;
            width: 20px;
            right: 10px;
            top: 10px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 1 100%;

        a {
            border: none;
            background-color: $lightGrey;
            color: #29313D;
            display: flex;
            margin-top: 1rem;
            font-size: 12px;
            height: 32px;
            font-weight: 600;
            text-decoration: none;
            padding: 0 0.5rem;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 768px) {
    .bookGrid {
        flex: 0 1 calc(100%/3 - calc(2rem / 3));
    }
    .bookList {
        flex: 1 1 100%;
        .image {
            margin-top: 1rem;
            img {
                max-width: 100px;
            }
        }
     }
}

@media only screen and (max-width: 600px) {
    .bookGrid {
        flex: 0 1 calc(50% - 0.5rem);
    }
    .bookList {
        .image {
            margin-top: 1rem;
            img {
                max-width: 100px;
            }
        }
     }
}