@import "../../variables.module.scss";

.searchField {
    display: flex;
    flex: 0 1 40%;
    z-index: 100;

    input {
        height: 32px;
        padding: 0.25rem 0.25rem 0.25rem 1rem;
        border: none;
        width: 100%;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 auto;
        height: 32px;
        padding: 0.25rem 1rem;
        background-color: $primaryColor;
        border: none;
        color: #fff;
        font-size: 12px;
        font-weight: 600;

        &:active {
            background-color: aqua;
        }
    }
}

@media only screen and (max-width: 600px) {
    .searchField {
        flex: 1 0 100%;
        margin-bottom: 1rem;
    }
}